
html {
    width: 100%;
    height: 100%;
}

body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#help {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.config {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 17em;
    background: rgba(0, 0, 0, 0.70);
    padding: 1em 1em 0 0.2em;
    box-sizing:border-box;
    z-index:1;
}

.param {
    margin-bottom:1em;
    border-radius: 0px 5px 5px 5px;
}